.DS_Store
emacs.d/auto-save-list
emacs.d/elpa
emacs.d/bookmarks
emacs.d/eshell
emacs.d/ido.last
emacs.d/org-clock-save.el
emacs.d/smex-items
emacs.d/transient
emacs.d/tramp
emacs.d/mail
emacs.d/news
emacs.d/url*
emacs.d/network-security*
emacs.d/emacs-custom
emacs.d/ido.last*
emacs.d/anaconda-mode
emacs.d/request
emacs.d/org-journal.cache
emacs.d/.org-id-locations
emacs.d/recentf
emacs.d/lisp/ob-session-async
emacs.d/.lsp*
emacs.d/elpy/
emacs.d/projectile-bookmarks.eld
emacs.d/var
emacs.d/projectile*
emacs.d/eln-cacheemacs.d/org-gcal/
emacs.d/persist/
emacs.d/.org-generic-id-locations
emacs.d/org-gcal/
emacs.d/eln-cache/
